.spinner__wrapper {
    display: block;
    text-align: center;
  }
  
  .spinner {
    display: inline-block;
    width: 90px;
    height: 90px;
  }
  
  .spinner:after {
    content: " ";
    display: block;
    width: 90px;
    height: 90px;
    margin: 8px;
    border-radius: 50%;
    border: 10px solid #844F93; /* Replaced the color value with #007bff */
    border-color: #844F93 transparent #844F93 transparent; /* Replaced the color value with #007bff */
    animation: spinner 1.2s linear infinite;
  }
  
  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  